
<div class="mb-2">
    <%= form.label :Email, style: "display: block", :class =>"form-label" %>
    <%= form.text_field :email, :class =>"form-control", :rows =>"3" %>
  </div>
<br>

<div class="mb-3">
  <%= form.label :password, style: "display: block", :class =>"form-label" %>
  <%= form.text_field :password, :class =>"form-control", :rows =>"3" %>
</div>
<br>

<div>
  <%= form.submit %>
</div>
