<h4>Découvrez l'équipe du splendide site LANGUE DE P*** !</h4>
<br>
<div class="row">
    <div class = "col">
<div class="card mb-3">
  <div class="card-header">
    Gillian le gland
  </div>
  <div class="card-body">
    <p class="card-text">Des sensations pures.</p>
    <%= link_to "Plus", "https://github.com/GillianLEVERT/", :class => "btn btn-primary" %>
  </div>
</div>
<div class="card mb-3"">
  <div class="card-header">
    Maeva la diva
  </div>
  <div class="card-body">
    <p class="card-text">A fond la forme.</p>
    <%= link_to "Plus", "https://github.com/MaevaGilles", :class => "btn btn-primary" %>
  </div>
</div>
<div class="card mb-3"">
  <div class="card-header">
    Yann le chaman
  </div>
  <div class="card-body">
    <p class="card-text">Parce qu'il le vaut bien.</p>
    <%= link_to "Plus", "https://github.com/YannGUIOT/", :class => "btn btn-primary" %>
  </div>
</div>
</div>
<div class="col">
<div class="card mb-3"">
  <div class="card-header">
    Dylan l'âne 
  </div>
  <div class="card-body">
    <p class="card-text">Vous n'imaginez pas tout ce que Dylan peut faire pour vous.</p>
    <%= link_to "Plus", "https://github.com/DylanDor", :class => "btn btn-primary" %>
  </div>
</div>
<div class="card mb-3"">
  <div class="card-header">
    JB la divinité
  </div>
  <div class="card-body">
    <p class="card-text">Liberté, égalité, fraternité.</p>
    <%= link_to "Plus", "https://github.com/JBE29", :class => "btn btn-primary" %>
  </div>
</div>
</div>
</div>
