<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_comment_path(@comment) %> |
  <%= link_to "Back to comments", comments_path %>

  <%= button_to "Destroy this comment", @comment, method: :delete %>
</div>

<%= form_for ([@gossip, @gossip.comments.build]) do |f| %>
        
        <div class="form-group", style="flex: 3; padding: 15px">
        <h5>Ecrire un commentaire: </h5>
          <%= f.text_area :content, class:"form-control"%>
        </div>

        <div class="form-group" , style="flex: 1">
          <div class="actions">
          <%= f.submit "Commenter", class: "btn btn-warning d-inline-flex justify-content-center"%>
          </div>
        </div>
      <% end %>