<div id="<%= dom_id user %>">
  <p>
    <strong>Nom:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Prénom:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Pseudo:</strong>
    <%= user.login %>
  </p>

  <p>
    <strong>Mot de passe:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Ville:</strong>
    <%#= user.city.name %>

  </p>

  <p>
    <strong>Description:</strong>
    <%= user.description %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user.age %>
  </p>

</div>
