<%= form_with(model: gossip) do |form| %>
  <% if gossip.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(gossip.errors.count, "error") %> prohibited this gossip from being saved:</h2>

      <ul>
        <% gossip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br>

<div class="mb-2">
    <%= form.label :Titre, style: "display: block", :class =>"form-label" %>
    <%= form.text_field :title, :class =>"form-control", :rows =>"3" %>
  </div>
<br>
  <div class="mb-3">
    <%= form.label :pseudo, style: "display: block", :class =>"form-label" %>
    <%= form.text_field :pseudo, :class =>"form-control", :rows =>"3" %>
  </div>

  <div class="mb-3">
    <%= form.label :content, style: "display: block", :class =>"form-label"  %>
    <%= form.text_area :content, :class =>"form-control", :rows =>"3" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
