<p style="color: green"><%= notice %></p>

<%= render @gossiptag %>

<div>
  <%= link_to "Edit this gossiptag", edit_gossiptag_path(@gossiptag) %> |
  <%= link_to "Back to gossiptags", gossiptags_path %>

  <%= button_to "Destroy this gossiptag", @gossiptag, method: :delete %>
</div>
