<!DOCTYPE html>
<html>
  <head>
    <title>L D P***</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

<nav class="nav-tabs bg-primary fixed-top" style="height: 80px;">
      <%= link_to "LANGUE DE P***", "/", :class => "nav-link text-white"%>

  <div class="d-flex  justify-content-end">
      <%= link_to "Inscription", "/signup", :class => "nav-link text-white p-3"%>
      <%= link_to "Connexion", "/login", :class => "nav-link text-white p-3"%>
  </div>
</nav>

<div class="row" style="height: 800px">
  <div class="col-lg-1 bg-secondary">
      <br/> <br/>  <br/>   <br/>
    <%= link_to "Nouveau potin", "/gossips/new", :class => "nav-link text-white"%>
        <br/>
<div class="btn-group">
  <button class="btn btn-secondary  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Catégories
  </button>
  <ul class="dropdown-menu">
    <li>Orgueil</li>
    <li>Avarice</li>
    <li>Luxure</li>
    <li>Envie</li>
    <li>Gourmandise</li>
    <li>Colère</li>
    <li>Paresse</li>
  </ul>
</div>
      <br/>
    <%= link_to "L'équipe", "/equipe/", :class => "nav-link text-white"%>
      <br/>
    <%= link_to "Contactez-nous", "/contact/", :class => "nav-link text-white"%>
  </div>
  <div class="col-lg-9 p-5 mt-5">
    <body>
    <%= yield %>
    </body>
  </div>
</div>
<div class="bg-primary fixed-bottom d-flex justify-content-around">
<%= link_to "A propos", "/apropos", :class => "nav-link text-white"%>
<%= link_to "Carrières", "/https://www.pole-emploi.fr/accueil/", :class => "nav-link text-white"%>
<%= link_to "Pâtés en croute", "/login", :class => "nav-link text-white"%>
<%= link_to "THP", "https://www.thehackingproject.org/", :class => "nav-link text-white"%>
</div>

</html>
